body {
  background-color: #EAF6F6;
}
h1 {
  color: #66BFBF;
}
h3 {
  color: #66BFBF;
}
#name {
  font-size: 50px;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}
.circle-img {
  width: 200px;
  height: 200px;
}
.yota {
  width: 350px;
  height: 230px;
}
.myDesc:hover {
  color: gold;
}
